@CHARSET "EUC-KR";

			@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
			
			body {
				margin: 0 auto;
				font-family: "Nanum Gothic",Tahoma;
				background-color:lightgrey;				
			}
			
			body a {
				text-decoration: none;
				color: dimgrey;
			}
			
			body a:visited {
				text-decoration: none;
				color: dimgrey;
			}
				
			.alignLeft{
				text-align: left;
			}	
			
			.alignRight {
				text-align: right;
			}
			
			.error:not(input) {
				color: red;
			}
				
			#writeForm td {
				padding: 7px;
				text-align: center;
				font-size: 12px;
			}
			
			
			#writeForm tbody tr {
				border-style: none none solid none;
				border-width: 1px;
				border-color: lightgrey;
			}
			
			#writeForm .writeForm1 {
				text-align: left;
			}
			}
			
			body a:visited {
				text-decoration: none;
			}
			
			/*전체 버튼 */
			button {
				background-color: #F2F2F2;
				border: 1px solid lightgrey;
				color: dimgrey;
				text-align: center;
				display: inline-block;
				cursor: pointer;
				padding: 3px 10px;
				margin: auto;
			}
			
			/* 스몰 버튼 */
			.smlButton {
				background-color: white;
				border: 1px solid lightgrey;
				color: dimgrey;
				text-align: center;
				display: inline-block;
				cursor: pointer;
				padding: 1px 5px;
				margin: auto;
				font-size: 0.5em;
			}
			
			input[type=submit] {
				background-color: #F2F2F2;
				border: 1px solid lightgrey;
				color: dimgrey;
				text-align: center;
				display: inline-block;
				cursor: pointer;
				padding: 3px 10px;
				margin: auto;
			}
			
				.loginBtn {
				background-color: #F2F2F2;
				border: 1px solid lightgrey;
				color: dimgrey;
				text-align: center;
				display: inline-block;
				cursor: pointer;
				padding: 3px 10px;
				margin: auto;
			}
			
			.logoutBtn {
			 width: 100%;
			}
			
			/*전체 wrap */
			#wrap {
				width: 1240px;
				margin: 0 auto;
				overflow: hidden;
				display: block;
			}
			
			
			/*중단부 컨테이너 */
			#container {
				width: 1100px;
				margin: 0 auto;
				*overflow: hidden;
				padding-bottom: 2px;
				background-color: white;
				text-align: center;
				top:0;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}
			
			/* 상단 메뉴 포함 헤더 */
			#header {
				width: 1100px;
			}
			
			#topimage {
				margin: 0 auto;
				padding: 0;
				overflow: hidden;
				background-color: black;
				background-image: url(../img/Forza33.jpg);
				top: 0;
				width: 1100px;
				height: 240px;
			}
			
			/* 상단 메뉴 */
			#ulmenu {
				position: absolute; 
				list-style-type: none;
				padding: 0;
				background-color: black; /*#333*/
				top: 200px;
				width: 1100px;
				height: 40px;
				margin: 0 auto;
				opacity: 0.6;
			}
			
			li.list {
				float: left;
			}
			
			li.list a {
				display: block;
				color: white;
				text-align: center;
				text-decoration: none;
				padding: 10px 16px;
				font-size: 16px;
				height: 20px;
			}
			
			li.list a:hover:not(.active) {
				background-color: rgb(40, 40, 40);
			}
			
			li.list a.active {
				padding: 6px 16px;
				border-style: solid none none none;
				border-width: 4px;
				border-color: white;
			}	
			/* 상단메뉴 여기까지 */
			
			
			/* 게시판 테이블 */ 
			#boardWrap {
				padding-top: 15px;
			}
			
			#boardWrap caption {
				padding: 13px;
			}
			
			#subWrap {
				width: 880px;
				margin: 0 auto;
				float: left;
			}
			
			#mainTable {
				width: 90%;
				margin: 0 auto;
				padding: 10px;
				border-collapse: collapse;
				color: rgb(64, 64, 64);
			}
				
			#mainTable td {
				padding: 7px;
				text-align: center;
				font-size: 12px;
			}
			
			#mainTable .mTsubject {
				text-align: left;
			}
			
			#mainTable thead {
				background-color: lightgrey;
				color: black;
				font-size: 13px;
			}
			
			#mainTable thead th {
				padding: 5px;
				border-style: none solid none solid;
				border-width: 1px;
				border-color: white;
				overflow: visible;
			}
			
			#mainTable tbody tr {
				border-style: none none solid none;
				border-width: 1px;
				border-color: lightgrey;
			}
			
			#mainTable tbody tr.notice {
				background-color: #F2F2F2;
			 }
			 
			#mainTable tbody tr:hover {
				background-color: #F2F2F2;
			}
			
			/* 게시판 페이지 번호 + 목록 + 글쓰기 버튼 */
			#secondrow {
				width: 90%;
				margin: 0 auto;
				padding: 5px 0px 0px 0px;
				text-align: center;
			}
				
			#listnumber {
				display: inline-block;
				padding: 0;
				margin: 0;
				font-size: 12px;
			}
			
			#listnumber span {
				display: inline;
			}
			
			#listnumber span a {
				color: rgb(64, 64, 64);
				text-decoration: none;
				padding: 8px 12px;
				float:left;
			}
			
			#listnumber span a.hand {
				background-color: dimgrey;
				color: white;
			}
			
			#listnumber span a:hover:not(.hand) {
				background-color: lightgrey;
			}
			
			#lowside {
				width: 90%;
				margin: auto;
				text-align: center;
				padding-top: 0px;
				padding-bottom: 40px;
			}
			
			#lowLast  {
				width: 1096px;
				margin: 0 auto;
				border-style: solid;
				border-width: 1px;
				border-color: lightgrey;
				background-color: #F2F2F2;
				padding: 1px;
				color: dimgrey;
			}
			
			#lowLast a {
				font-size: 0.7em;
				text-decoration: none;
				color: dimgrey;
				}
				
			/* 중단부는 여기까지 */
			

			/* 사이드바 */
			#sidebarvoid {
				display: block;
				margin: 0 8px 10px 15px;
				padding: 0px;
				width: 200px;
				height: 230px;
				float: left;
				}
				
			.sidebar {
				display: inline-block;
				margin: 0 8px 10px 10px;
				padding: 10px;
				width: 180px;
				float: left;
				background-color: white;
				border: 1px solid darkgrey;
				font-size: 0.7em;
				color: dimgrey;
				line-height: 1.4;
				text-align: left;
			}
			
			.sidebar * {
				margin: auto;
			}
			
			.sidebar a {
				text-decoration: none;
				color: dimgrey;
			}
			
			.submit {
				background-color: #F2F2F2;
				border: 1px solid lightgrey;
				color: dimgrey;
				text-align: center;
				display: inline-block;
				cursor: pointer;
				padding: 3px 10px;
				margin: auto;
				width: 180px;
			}
			
			.input {
				width: 173px;
				border: 1px solid lightgrey;
				color: grey;
				padding-left: 3px;
			}
			
			/*회원가입 테이블*/
			.indexjoin {
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				margin: 0 auto;
				text-align: center;
				display: block;
				width: 500px;
				padding: 15px 0px 20px 0px;
				background-color: white;
				border-style: none solid solid solid;
				border-color: lightgrey;
				border-width: 1px;
 
				font-size: 0.9em;
			}
			
			.createTable {
				width: 70%;
				margin: 0 auto;
				padding: 10px;
				border-collapse: collapse;
				color: rgb(64, 64, 64);
			}
			
			.createTable thead {
				font-size: 13px;
			}
			
			.createTable thead th {
				padding: 5px;
				border-style: none none solid none;
				border-width: 1px;
				border-color: grey;
				text-align: left;
			}
			
			.createTable td {
				padding: 10px;
				text-align: center;
				font-size: 12px;
			}
			
			.createTable .mTsubject {
				text-align: left;
			}
			 
			.createTable tbody tr:hover {
				background-color: #F2F2F2;
			}
			
			.createTable input {
				margin-right: 10px;
			}
			
			.textarea {
				padding: 2px 2px 3px;
				width: 40%;
				border: 1px solid grey;
			}
			
			
			/* 인덱스 로그인 폼 */			
			.indexWrap {
				margin: 0 auto;
				
			}
			
			.topimage2 {
				box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2), 0 6px 0 0 rgba(0, 0, 0, 0.19);
				margin: 0 auto;
				padding: 0;
				overflow: hidden;
				background-color: black;
				background-image: url(../img/Forza33.jpg);
			}
			
			.indexlogin {
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				margin: 0 auto;
				text-align: center;
				display: block;
				width: 400px;
				height: 200px;
				padding: 15px 40px 20px 40px;
				background-color: white;
				border-style: none solid solid solid;
				border-color: lightgrey;
				border-width: 1px;
 
				font-size: 0.9em;
			}
			

			.indexlogin a{
				text-decoration: none;
				color: dimgrey;
				line-height: 1.4;
			}
			
			.indexlogin table {
				margin: 0 auto;
				width: 80%;
				border-collapse: collapse;
			}
			
			.indexlogin caption {
				padding: 10px;
				padding-bottom: 25px;
				font-size: 1.3em;
			}
			
			.indexlogin table td {
				padding: 5px;
			}
			
			/* 글쓰기 내용 */			
			#writeForm {
				width: 90%;
				margin: 0 auto;
				padding: 10px;
				border-collapse: collapse;
				color: rgb(64, 64, 64);
			}
				
			#writeForm td {
				padding: 7px;
				text-align: center;
				font-size: 12px;
			}
			
			
			#writeForm tbody tr {
				border-style: none none solid none;
				border-width: 1px;
				border-color: lightgrey;
			}
			
			#writeForm .writeForm1 {
				text-align: left;
			}
			
			/* 글 보기 */
			#viewForm {
				width: 90%;
				margin: 0 auto;
				padding: 15px;
				border-collapse: collapse;
				color: rgb(64, 64, 64);
			}
				
			#viewForm td {
				padding: 12px;
				text-align: center;
				font-size: 12px;
			}
			
			#viewForm thead td {
				text-align: left;
			}
			
			#viewForm tbody tr {
				border-style: none none solid none;
				border-width: 1px;
				border-color: lightgrey;
			}
			
			#viewForm .viewForm1 {
				text-align: left;
			}
			
			.viewFormTop {
				border-style: none none none none; 
			}
			
			#viewFormMenu {
				width: 90%;
				margin: 10px auto 10px auto;
				padding: 15px;
				border-collapse: collapse;
				color: rgb(64, 64, 64);
			
			}
			
			#viewFormMain * {
				text-align: left;
				font-size: 13px;
				padding: 13px; 
			}
			
			#commentView {
				width: 85%;
				margin: 0 auto;
				padding-top: 5px;
				padding-bottom: 5px;
				border-collapse: collapse;
				color: rgb(64, 64, 64);
				font-size: 12px;
				text-align: left;
			}
			
			#commentView td {
				margin: 0 auto;
				padding-top: 5px;
				padding-bottom: 5px;
			}
			
			#commentForm {
				width: 80%;
				margin: 0 auto;
				font-size: 12px;
				text-align: center;
			}
			
			#commentForm input {
				position: absolute;
				margin: 0 0 0 5px;
				width: 51px;
				height: 51px;
				}
				
			/* 이미지 게시판 */
			
			div #imgBoard {
				width: 880px;
				margin: 0 auto;
				float: left;
			}
			
			#imgUl * {
				list-style-type: none;
				padding: 0;
				display: inline-block;
			}
			
			
			.imgList {
				width: 230px;
				margin-left: 7px;
				margin-right: 10px;
				margin-bottom: 20px;
				border: none;
				float: left;
				text-align: left;
			 font-size: 0.8em;
			}	
			
			.thumbnail img {
				max-width: 200px;
				max-height: 200px;
				margin: 12px auto;
			}
		