<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="keywords" content="한국경영원 인재개발원" />
<meta name="subject" content="한국경영원 인재개발원" />
<meta name="description" content="매뉴얼" />
<meta name="robots" content="길라잡이, 매뉴얼" />
<meta name="copyright" content="COPYRIGHT ⓒ KMS. ALL RIGHTS RESERVED." />
<title>test</title>


<!-- css -->
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />

<!-- js -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>


</head>

<body>
<div id="wrap">

	<div id="header">
    	<ul>
        	<li><a href="#" class="on">Menu1</a></li>
            <li><a href="#">Menu2</a></li>
            <li><a href="#">Menu3</a></li>
            <li><a href="#">Menu4</a></li>
            <li><a href="#">Menu5</a></li>
            <li><a href="#">Menu6</a></li>
            <li><a href="#">Menu7</a></li>
        </ul>
    </div>
    
    <div id="leftWrap">
    
    	<div id="infoWrap">
        
        	<div class="info_txt">
                <p class="info_name">User name</p>
                <p class="info_date">2016.04.07 AM 10:00</p>
                <p  class="info_pic"><img src="images/thum_img.jpg" alt="thum"></p>
            </div>
            
            <span><a href="#">Logout</a></span>
        
        </div>
        
        <div id="category">
        
        <!-- dtree 시작 -->
            <div class="dtree">
                <div class="dTreeNode"><img id="id0" alt="" src="images/dtree_img/base.gif"><a href="#">전체</a></div>
                
                <div class="clip" id="dd0" style="display: block;">
                    
                    <div class="dTreeNode dtreeDepth1 txtCut">
                        <a href="javascript: d.o(1);"><img id="jd1" alt="" src="images/dtree_img/minus.gif"></a><img id="id1" alt="" src="images/dtree_img/folderopen.gif"><a class="node" id="sd1" onclick="javascript: d.s(1);" href="#">뎁스1</a>
                    </div>
                    
                    <div class="clip" id="dd1" style="display: block;">
                        
                        <div class="dTreeNode dtreeDepth2 txtCut"><img alt="" src="images/dtree_img/line.gif">
                            <a href="javascript: d.o(2);"><img id="jd2" alt="" src="images/dtree_img/minusbottom.gif"></a><img id="id2" alt="" src="images/dtree_img/folderopen.gif"><a class="node" id="sd2" onclick="javascript: d.s(2);" href="#">뎁스1_1</a>
                        </div>
                        
                        <div class="clip" id="dd2" style="display: block;">
                            <div class="dTreeNode dtreeDepth3 txtCut"><img alt="" src="images/dtree_img/line.gif"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/join.gif"><img id="id3" alt="" src="images/dtree_img/page.gif"><a class="node" id="sd3" onclick="javascript: d.s(3);" href="#">뎁스1_1_1</a></div>
                            <div class="dTreeNode dtreeDepth3 txtCut"><img alt="" src="images/dtree_img/line.gif"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/join.gif"><img id="id4" alt="" src="images/dtree_img/page.gif"><a class="node" id="sd4" onclick="javascript: d.s(4);" href="#">뎁스1_1_2</a></div>
                            <div class="dTreeNode dtreeDepth3 txtCut"><img alt="" src="images/dtree_img/line.gif"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/join.gif"><img id="id5" alt="" src="images/dtree_img/page.gif"><a class="node" id="sd5" onclick="javascript: d.s(5);" href="#">뎁스1_1_3</a></div>
                            <div class="dTreeNode dtreeDepth3 txtCut"><img alt="" src="images/dtree_img/line.gif"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/join.gif"><img id="id6" alt="" src="images/dtree_img/page.gif"><a class="node" id="sd6" onclick="javascript: d.s(6);" href="#">뎁스1_1_4</a></div>
                            <div class="dTreeNode dtreeDepth3 txtCut"><img alt="" src="images/dtree_img/line.gif"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/joinbottom.gif"><img id="id7" alt="" src="images/dtree_img/page.gif"><a class="node" id="sd7" onclick="javascript: d.s(7);" href="#">뎁스1_1_5</a></div>
                        </div>
                        
                    </div>
                    
                    <div class="dTreeNode dtreeDepth1 txtCut">
                        <a href="javascript: d.o(8);"><img id="jd8" alt="" src="images/dtree_img/minusbottom.gif"></a><img id="id8" alt="" src="images/dtree_img/folderopen.gif"><a class="node" id="sd8" onclick="javascript: d.s(8);" href="#">뎁스1_2</a>
                        
                    </div>
                    
                    <div class="clip" id="dd8" style="display: block;">
                        
                        <div class="dTreeNode dtreeDepth2 txtCut"><img alt="" src="images/dtree_img/empty.gif">
                            <a href="javascript: d.o(9);"><img id="jd9" alt="" src="images/dtree_img/plusbottom.gif"></a><img id="id9" alt="" src="images/dtree_img/folder.gif"><a class="node" id="sd9" onclick="javascript: d.s(9);" href="#">뎁스2_1</a>
                        </div>
                        
                        <div class="clip" id="dd9" style="display: none;">
                            <div class="dTreeNode dtreeDepth3 txtCut"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/join.gif"><img id="id10" alt="" src="images/dtree_img/page.gif"><a class="node" id="sd10" onclick="javascript: d.s(10);" href="#">뎁스2_1_1</a></div>
                            <div class="dTreeNode dtreeDepth3 txtCut"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/join.gif"><img id="id11" alt="" src="images/dtree_img/page.gif"><a class="node" id="sd11" onclick="javascript: d.s(11);" href="#">뎁스2_1_1</a></div>
                            <div class="dTreeNode dtreeDepth3 txtCut"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/join.gif"><img id="id12" alt="" src="images/dtree_img/page.gif"><a class="node" id="sd12" onclick="javascript: d.s(12);" href="#">뎁스2_1_1</a></div>
                            <div class="dTreeNode dtreeDepth3 txtCut"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/join.gif"><img id="id13" alt="" src="images/dtree_img/page.gif"><a class="node" id="sd13" onclick="javascript: d.s(13);" href="#">뎁스2_1_1</a></div>
                            <div class="dTreeNode dtreeDepth3 txtCut"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/empty.gif"><img alt="" src="images/dtree_img/joinbottom.gif"><img id="id14" alt="" src="images/dtree_img/page.gif"><a class="nodeSel" id="sd14" onclick="javascript: d.s(14);" href="#">뎁스2_1_1</a></div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <!-- dtree 끝 -->
        
        </div>
    
    </div>
    
    <div id="rightWrap">
    
    	<div class="rightBlock">
            <div class="page_top">
                <h1>Page Title</h1>
            </div>
            
            <!-- 검색 시작 -->
            <form id="searchEngine" method="post" name="searchEngine" action="#" target="_self" title="검색" class="search_area">
                
                <dl>
                    <dt>input[type=radio]</dt>
                    <dd>
                        <label for="radio1"><input type="radio" id="radio1" /> radio1</label>
                        <label for="radio2"><input type="radio" id="radio2" /> radio2</label>
                        <label for="radio3"><input type="radio" id="radio3" /> radio3</label>
                    </dd>
                    <dt>input[type=check]</dt>
                    <dd>
                        <label for="check1"><input type="checkbox" id="check1" /> check1</label>
                        <label for="check2"><input type="checkbox" id="check2" /> check1</label>
                        <label for="check3"><input type="checkbox" id="check3" /> check3</label>
                    </dd>
                    <dt>input[type=text]</dt>
                    <dd>
                        <input type="text" id="text1" placeholder="글자입력" title="입력">
                    </dd>
                    <dt>select</dt>
                    <dd>
                        <select name="select" title="선택">
                            <option value="select1">select1</option>
                            <option value="select2">select2</option>
                            <option value="select3">select3</option>
                        </select>
                    </dd>
                    <dt>input[type=submit]</dt>
                    <dd>
                        <input type="submit" title="입력" >
                    </dd>
                </dl>            
            </form>
            <!-- 검색 끝 -->
            
            <div class="boardWrap">
                
                <table class="base_tbl">
                    <thead>
                        <tr>
                            <th width="8%">Num</th>
                            <th>Subject</th>
                            <th width="15%">date</th>
                            <th width="10%">file</th>
                            <th width="10%">view</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="txtCut alignLeft"><a href="view.html">Enter the Subject here!</a></td>
                            <td>2016-04-07</td>
                            <td>N</td>
                            <td>101</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="txtCut alignLeft"><a href="#">Enter the Subject here!</a></td>
                            <td>2016-04-07</td>
                            <td>N</td>
                            <td>101</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="txtCut alignLeft"><a href="#">Enter the Subject here!</a></td>
                            <td>2016-04-07</td>
                            <td>N</td>
                            <td>101</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="txtCut alignLeft"><a href="#">Enter the Subject here!</a></td>
                            <td>2016-04-07</td>
                            <td>N</td>
                            <td>101</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="txtCut alignLeft"><a href="#">Enter the Subject here!</a></td>
                            <td>2016-04-07</td>
                            <td>N</td>
                            <td>101</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="txtCut alignLeft"><a href="#">Enter the Subject here!</a></td>
                            <td>2016-04-07</td>
                            <td>N</td>
                            <td>101</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="txtCut alignLeft"><a href="#">Enter the Subject here!</a></td>
                            <td>2016-04-07</td>
                            <td>N</td>
                            <td>101</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="txtCut alignLeft"><a href="#">Enter the Subject here!</a></td>
                            <td>2016-04-07</td>
                            <td>N</td>
                            <td>101</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="txtCut alignLeft"><a href="#">Enter the Subject here!</a></td>
                            <td>2016-04-07</td>
                            <td>N</td>
                            <td>101</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="txtCut alignLeft"><a href="#">Enter the Subject here!</a></td>
                            <td>2016-04-07</td>
                            <td>N</td>
                            <td>101</td>
                        </tr>
                    </tbody>
                </table>
                
                <div id="paging">
                <p>
                <span class="numPN"><a href="#">&#171;</a></span>
                <span class="numPN over left"><a href="#">&#60;</a></span>
                <span class="Present"><a href="#">1</a></span>
                <span><a href="#">2</a></span>
                <span><a href="#">3</a></span>
                <span><a href="#">4</a></span>
                <span><a href="#">5</a></span>
                <span><a href="#">6</a></span>
                <span><a href="#">7</a></span>
                <span><a href="#">8</a></span>
                <span><a href="#">9</a></span>
                <span class="dubble"><a href="#">10</a></span>
                <span class="numPN  over right"><a href="#">&#62;</a></span>
                <span class="numPN"><a href="#">&#187;</a></span>
                </p>
                </div>
    
                
            </div>
        </div>
    
    </div>
    
</div>

</body>
</html>
